<div class="home-container">
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
  
  <nav class="sidebar" [class.expanded]="isSidebarExpanded">
    <ul>
      <li></li>
      <li></li>
      <li><a routerLink="/home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/home/view" routerLinkActive="active">View</a></li>
      <li><a routerLink="/home/job" routerLinkActive="active">Job</a></li>
    </ul>
  </nav>

  <!-- <app-header userName="'Jane Doe'"></app-header>
  <router-outlet></router-outlet> -->

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <a class="logout-link" routerLink="/">Logout</a>


</div>