<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center mb-4">
          <h1 class="display-4 text-primary">This feature is yet to be implemented</h1>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">List of different user roles:</h2>
            <ul class="list-group">
              <li class="list-group-item">
                <h5>Sourcing Manager</h5>
              </li>
              <li class="list-group-item">
                <h5>Business Unit Head</h5>
              </li>
              <li class="list-group-item">
                <h5>Supervisor</h5>
              </li>
              <li class="list-group-item">
                <h5>Manager</h5>
              </li>
              <li class="list-group-item">
                <h5>Interviewer</h5>
              </li>
              <li class="list-group-item">
                <h5>Vendor Person</h5>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="mt-4 text-center">
          <button class="btn btn-primary" routerLink="/home/dashboard" routerLinkActive="active">BACK</button>
        </div>
      </div>
    </div>
  </div>