<div class="container mt-5">
  <div class="card-deck d-flex flex-wrap justify-content-between">
    <div 
      class="card" 
      style="width: 18rem;"  
      *ngFor="let job of tile" 
      (click)="navigateToViewReq(job)"
    >
      <div 
        class="status-banner" 
        [ngClass]="{'open': job.Status === 'Open', 'closed': job.Status === 'Closed','rejected': job.Status === 'Rejected'}"
      >
        {{ job.Status }}
      </div>

      <div class="card-body">
        <h5 class="card-title">Job Title: <span>{{ job.JobTitle }}</span></h5>
        <h6 class="card-subtitle mb-2">ReqId: <span>{{ job.ReqId }}</span></h6>
        <p class="card-text">
          <strong>Created by:</strong> <span>{{ job.CreatedBy }}</span><br>
          <strong>Created Date:</strong> <span>{{ job.CreatedDate }}</span><br>
          <strong>DeptID:</strong> <span>{{ job.DeptId }}</span><br>
          <strong>Status:</strong> <span>{{ job.Status }}</span>
        </p>
      </div>
    </div>
  </div>
</div>