.status-banner {
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.open {
  background-color: #007bff; /* Blue for open */
}

.closed {
  background-color: #28a745; /* Green for closed */
}

.rejected {
  background-color: #c12506; /* Green for closed */
}

.card {
  position: relative; /* Ensure that the status banner is positioned correctly */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(33.33% - 20px); /* Make each card take up 1/3 of the row minus the gap */
  box-sizing: border-box;
  overflow: hidden; /* Ensure the status banner doesn't overflow */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #007bff;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #007bff;
}

.card-text {
  font-size: 0.9rem;
  color: #495057;
}

.card-text strong {
  font-weight: 600;
  color: #007bff;
}

.card .card-body span {
  font-weight: 400;
}

@media (max-width: 992px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 20px); /* 1 card per row on small screens */
  }
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add space between the cards */
  justify-content: space-between;
}